* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper-grid {
    display: grid;
    place-items: center;
}

.container {
    height: 159px;
    width: 141px;
    border-radius: 8px;
}

.avatar {
    background: url("../images/avatar-01-small.png");
    border-radius: 100%;
    background-size: 42px;
    padding: 20px;
    margin: 20px;
}

#followButton {
    width: auto;
    height: 33px;
    text-align: center;
    background: #3151F5;
    font-size: 12px;
    font-weight: 700;
}